.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
  position: fixed;
  z-index: 1;
  padding-top: 0;
  /* Adjust this value as needed */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.prev,
.next {
  font-size: 30px;
  padding: 15px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  /* Vertically center relative to parent */
  transform: translateY(-50%);
  /* Vertically center relative to parent */
}

.prev {
  left: 0;
  /* Keep the prev button on the left */
}

.next {
  right: 0;
  /* Keep the next button on the right */
}

.close {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  right: 3%;
  top: 5%;
}

/* Responsive code */
@media (max-width: 700px){
  .modal-img{
    width: 90%;
    height: 90%;
  }

}
@media (max-width: 600px){
  .modal-img{
    width: 90%;
    height: 90%;
  }

}

@media (max-width: 500px){
  .modal-img{
    width: 90%;
    height: 90%;
  }


}
@media (max-width: 400px){
  .modal-img{
    width: 90%;
    height: 90%;
  }


}