/* Album Container style */
.AlbumFormContainer {
    display: flex;
    justify-content: space-around;
}

/* toogle the album form */
.toggleButton {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    border: none;
    margin-top: 5px;
    border-radius: 5px;
}

/* ul tag style */
.albumlist {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

/* li tag style */
.album-list-item {
    width: 9%;

}

/* album list p tag style */
.album-list-item p {
    margin: auto;
    font-size: 25px;
    font-weight: bolder;
}

.album-list-item:hover .item-image{
    transform: scale(1.2);
    opacity: .5;
    transition: 0.5s ease-in-out;
}

@media (max-width: 1200px){
    .album-list-item {
        margin: .5%;
    
    }

}
@media (max-width: 1100px){
    .album-list-item {
        margin: .8%;
    
    }

}
@media (max-width: 1000px){
    .album-list-item {
        margin: 1.2%;
    
    }

}
@media (max-width: 900px){
    .album-list-item {
        margin: 2%;
    
    }

}
@media (max-width: 800px){
    .album-list-item {
        margin: 3%;
    
    }
    .album-list-item p {
        margin-left: 20%;
    }

}
@media (max-width: 700px){
    .album-list-item {
        margin: 4%;
    
    }
    .album-list-item p {
        margin-left: 20%;
    }

}

@media (max-width: 600px){
    .album-list-item {
        margin: 6%;
    
    }
    .album-list-item p {
        margin-left: 45%;
        font-size: 20px;
    }

}
@media (max-width: 500px){
    .album-list-item {
        margin: 8%;
    
    }
    .album-list-item p {
        margin-left: 55%;
        font-size: 20px;
    }

}
@media (max-width: 400px){
    .album-list-item {
        margin: 11%;
    
    }
    .album-list-item p {
        margin-left: 70%;
        font-size: 20px;
    }

}

